{
  	box-sizing: border-box;
}

body {
  background-color: #eee;
}

header {
  padding-bottom: 15px;
  background-color: #eee;
}

#content {
  background-color: white;
  height: 1024px;
  margin: auto;
 }

#content-2 {
  border-bottom: 1px lightgray solid;
  position: relative;
  margin: auto;
  height: 710px;
  background: url("../last.jpg") center no-repeat;
}

#nav-buttons {
  background: linear-gradient( rgb(153, 149, 149) 0%, rgb(110, 110, 110) 45%, rgb(80, 80, 80) 50%, rgb(120, 120, 120) 98%);
  height: 36px;
  top: 87px;
  margin: 0 auto;
  position: relative;
  display: block;
  width: 980px;
  text-align: left;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
  border-radius: 4px;
  font-size: 12px;
  line-height: 18px;
  z-index: 9998;
}

#global-nav {
  display: table;
  float: left;
  width: 845px;
  table-layout: fixed;
  list-style: none outside;
  -webkit-transition: width 0.3s ease-in-out;
}

#gn-apple {
  display: table-cell;
  width: 100%;
  overflow: hidden;
  height: 40px;
  color: lightgray;
  text-align: center;
  vertical-align: middle;
}

.fa-apple {
  font-size: 24px;
  color: white;
}

.nav-icons {
  display: block;
  vertical-align: middle;
  float: none;
  text-decoration: none;
  border-style: hidden;
  background-position: 0 0;
  border-width: 0 2px 0 0;
  border-radius: 4px 0 0 4px;
  width: auto;
  cursor: pointer;
  color: gray;
}

.nav-icons:hover {
  background: rgb(66, 65, 65);
  text-decoration: none;
  cursor: pointer;
  height: 40px;
}

.nav-icons > span {
  width: 100%;
  height: 40px;
  vertical-align: middle;
  color: white;
  background-position: 50% 0;
}

#gn-store {
  display: table-cell;
  width: 100%;
  overflow: hidden;
  height: 40px;
  color: lightgray;
  vertical-align: middle;
  text-align: center;
}

#gn-mac {
  display: table-cell;
  width: 100%;
  overflow: hidden;
  height: 40px;
  color: lightgray;
  vertical-align: middle;
  text-align: center;
}

#gn-ipod {
  display: table-cell;
  width: 100%;
  overflow: hidden;
  height: 40px;
  color: lightgray;
  vertical-align: middle;
  text-align: center;
}

#gn-iphone {
  display: table-cell;
  width: 100%;
  overflow: hidden;
  height: 40px;
  color: lightgray;
  vertical-align: middle;
  text-align: center;
}

#gn-ipad {
  display: table-cell;
  width: 100%;
  overflow: hidden;
  height: 40px;
  color: lightgray;
  vertical-align: middle;
  text-align: center;
}

#gn-itunes {
  display: table-cell;
  width: 100%;
  overflow: hidden;
  height: 40px;
  color: lightgray;
  vertical-align: middle;
  text-align: center;
}

#gn-support {
  display: table-cell;
  width: 100%;
  overflow: hidden;
  height: 40px;
  color: lightgray;
  vertical-align: middle;
  text-align: center;
}

#global-search {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 106px;
  padding: 8px 13px;
  background: none;
  border-width: 0 2px 0 1px;
  -webkit-transition: width 0.3s ease-in-out;
  color: #333;
}

#search-form {
  display: block;
  color: rgb(255, 255, 255);
  vertical-align: middle;
  width: 109px;
  height: 18.5px;
  background-image: none;
  background-color: rgba(255, 255, 255, 0.0976562);
  border-top-left-radius: 12px 12px;
  border-top-right-radius: 12px 12px;
  border-bottom-right-radius: 12px 12px;
  border-bottom-left-radius: 12px 12px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.398438) -1px, rgba(255, 255, 255, 0.199219) 1px;
  background-repeat: no-repeat;
  border-style: none;
  border-color: white;
}

.fa-search {
  width: 15px;
  height: 14px;
  margin-left: 6px;
  margin-top: 3px;
}

#g-search {
  display: block;
  position: relative;
  top: -18px;
}

input {
  text-align: left;
  -webkit-appearance: none;
  color: rgb(255, 255, 255);
  background-color: transparent;
  width: 100%;
  height: 19px;
  background-image: none;
  border-top-left-radius: 12px 12px;
  border-top-right-radius: 12px 12px;
  border-bottom-right-radius: 12px 12px;
  border-bottom-left-radius: 12px 12px;
  -moz-box-sizing: border-box;
  border-style: none;
  margin: -1px;
  padding: 2px 18px 1px 25px;
  border-color: white;
}

.first-body {
  display: block;
  position: relative;
  top: -900px;
  background-color: transparent;
}

p > a {
  text-decoration: none;
  color: rgb(0, 136, 204);
  display: inline-block;
  border-width: medium;
}

.first-body > a {
  text-decoration: none;
}

.fa-play-circle-o {
  font-size: 36px;
  color: white;
}

a > h2 {
  font-size: 60px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
  top: 100px;
  color: white;
  height: 104px;
  width: 980px;
  margin: auto;
  border-style: none;
  border-color: white;
  font-style: normal;
  line-height: 36px;
}

a > h3 {
  font-size: 35px;
  line-height: 45px;
  background-color: transparent;
  display: block;
  justify-content: center;
  text-align: center;
  position: relative;
  top: 40px;
  color: white;
  height: 82px;
  width: 900px;
  margin-right: auto;
  margin-left: auto;
  border-style: none;
  border-color: white;
  font-style: normal;
}

a > h4 {
  font-size: 25px;
  line-height: 45px;
  background-color: transparent;
  display: block;
  justify-content: center;
  text-align: center;
  position: relative;
  top: 70px;
  color: white;
  height: 82px;
  width: 900px;
  margin-right: auto;
  margin-left: auto;
  border-style: none;
  border-color: white;
  font-style: normal;
}

#footer-image {
  display: block;
  justify-content: center;
  margin: auto;
  background-size: auto;
  position: relative;
  top: -700px;
}

.f-image {
  height: 240px;
  width: 331px;
  border-style: none;
  border-color: black;
  margin: auto;
}

footer {
  width: 1024px;
  height: 90px;
  display: block;
  justify-content: center;
  text-align: center;
  position: relative;
  top: -680px;
  margin: auto;
}

#footer1 {
  float: left;
  position: relative;
  left: -100px;
  text-align: left;
  font-size: 0.8334em;
  line-height: 1.2;
  margin-top: 4px;
}

#footer2 {
  float: right;
  position: relative;
  right: -100px;
  text-align: right;
  margin-top: 6px;
  list-style: none outside none;
  font-size: 0.8334em;
  line-height: 1.2;
}

#footer2 > a {
  text-decoration: none;
  color: rgb(0, 136, 204);
  display: inline-block;
  border-width: medium;
  padding-right: 5px;
  border-right: 1px lightgray solid;
}

#country {
  position: relative;
  top: 4px;
  left: 2px;
}

#footer3 {
  float: left;
  clear: both;
  position: relative;
  left: -100px;
  margin: auto;
  text-align: left;
  font-size: 0.8334em;
  line-height: 1.2;
  margin-top: 3px;
}

#f3 > a {
  text-decoration: none;
  color: rgb(0, 136, 204);
  display: inline-block;
  border-width: medium;
  padding-right: 5px;
  padding-left: 5px;
  border-right: 1px lightgray solid;
}
